{% extends 'base.html' %}

{% block title %} Devspresso | Contact {% endblock %}
{% block content %}
  <footer id="footer" class="section footer wf-section">
    <div class="text-block">Email: info@devspreso.app<br>Contribute: https://github.com/modelcamp/devspresso<br><br>Feature Requests/Bug Reports: File an issue on the Devspresso GitHub</div>
  </footer>
  <p class="footer-text">Devspresso is distributed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" class="link-4">GNU GPL license</a>. All software based on Devspresso source code must be licensed as open source. See the source code on <a href="https://github.com/modelcamp/devspresso" class="link-3">GitHub</a>.</p>
{% endblock %}