{% extends 'base.html' %}

{% block title %} Devspresso | Login {% endblock %}
{% block content %}
<!-- Set referrer for localhost redirect -->
<meta name="referrer" content="no-referrer-when-downgrade">
<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="login" class="section-2 text-section">
    <h1 class="heading" style="text-align: center">Devspresso</h1>
    <div class="text-block">
        Log in with a supported authentication provider to start developing.
    </div>
    </br></br>
    <div id="g_id_onload"
         data-client_id="{{ google_client_id }}"
         data-login_uri="{{ url_for('authenticate_completion', _external=True) }}"
         data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>
</div>
<script type="text/javascript">
    let errorMessage = "{{ login_error }}"
    if (errorMessage.length > 0) {
        alert(errorMessage);
    }
</script>
{% include "footer.html" %}
{% endblock %}
